Olá,

Este email é um convite feito pelo administrador do sistema Sancla / Liftone / Vetech da clínica {{name}}

Para efetivar seu cadastro como colaborador nesta clinica, clique no link abaixo e siga o passo a passo.

<a href="{{link}}">Clique aqui</a>

Qualquer dúvida entre em contato com nosso suporte.

Equipe Sancla / Liftone / Vetech
