Olá, {{email}}.


Recebemos uma solicitação de alteração de senha para este e-mail.
Se você não solicitou, desconsidere esta mensagem.
Caso tenha solicitado, clique no link abaixo para continuar com a alteração da sua senha.


<a href="{{url}}">Clique aqui para continuar</a>
